name: Build React Native App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  node:
    runs-on: ubuntu-latest
    steps:
      - name: Create env file
        run: |
            touch .env
            echo API_KEY_TOKEN=${{ secrets.API_KEY_TOKEN }} >> .env
            cat .env
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: npm install --force
      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build with Gradle
        run: |
          cd android && ./gradlew assembleRelease
        

      - name: Upload a Build Artifact (APK)
        uses: actions/upload-artifact@v2.2.4
        with:
          name: app
          path: app/build/outputs/apk/release/app-release.apk





